<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    </head>
    <body>
        <div class="topnav">
            <a href="http://127.0.0.1:5000/home">Home</a>
            <a href="http://127.0.0.1:5000/add">New Task</a>
            <a class="active" href="http://127.0.0.1:5000/profile">Profile</a>
            <a href="http://127.0.0.1:5000/logout">Logout</a>
        </div>

        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}

        <h3> Your Details </h4>  
        <div class="user-profile">
            <p><b>Full Name: </b> {{user.full_name}} </p><br/>
            <p><b>Email: </b> {{user.email_id}} </p><br/>
            <p><b>Mobile No: </b>{{user.mobile_no}}</p><br/>
            <button onclick="document.location='http://127.0.0.1:5000/profile/update/'">Update Details</button>
        </div>
        
        
    </body>
</html>

